.casa {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 76%;
  padding: 5.5% 15% 0;
  transition: all ease-in-out 0.35s;

  .embed-responsive {
    background-color: #000000af;
  }

  .row {
    margin: 0 -5% 2.5%;
    text-align: center;
    div[class^="col"] {
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .attico {
    &::before {
      content: "";
      display: block;
      padding-top: 25%;
    }
  }

  .primo-piano::before {
    content: "";
    display: block;
    padding-top: 34%;
  }

  .piano-terra::before {
    content: "";
    display: block;
    padding-top: 34%;
  }

  .casa-title {
    border-bottom: 0.75rem solid;
  }
}
