@import "../../custom";

.base-container.container {
  padding: 0;

  &.main {
    background-color: #ffffff;
  }

  &.musica,
  &.musica .btn {
    background-color: #58a081;
    .btn {
      background-color: darken(#58a081, 25%);
    }
  }

  &.riflessioni {
    background-color: #ffbc00;
    .btn {
      background-color: darken(#ffbc00, 25%);
    }
  }

  &.cultura {
    background-color: #f2e4c7;
    .btn {
      background-color: darken(#f2e4c7, 25%);
    }
  }

  &.arte {
    background-color: #4b1619;
    color: white;
    .btn {
      background-color: #4b1619;
      border-color: white;
    }
  }

  &.bimbi {
    background-color: #cb2a23;
    .btn {
      background-color: darken(#cb2a23, 25%);
    }
  }

  .base-wrapper {
    margin-top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;

    &:before {
      display: block;
      padding-top: 82%;
      transition: all ease-in-out 0.35s;
      width: 100%;
      content: "";
    }
    .base {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
