.main-header {
  padding: 1rem;
  min-height: 8rem;
  .logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0;
    a {
      display: block;
      height: 100%;
      width: 100%;
      outline: none;
    }
  }

  .date {
    line-height: 0.75;
    font-size: calc(1rem + 0.45vw);
    padding: 0.5rem;
  }
}
