@import "../../custom";

.casa.section {
  .title {
    h2 {
      padding: 6.3%;

      @include media-breakpoint-up(sm) {
        font-size: 3.8rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 5.6rem;
      }
    }
  }
}
