@import url("https://fonts.googleapis.com/css2?family=Futura:regular,bold&subset=latin,latin-ext");

@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,bold&display=swap&subset=latin,latin-ext&family=Futura:regular,bold");

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;
$headings-font-family: "Futura", "Muli", $font-family-base;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$border-width: 3px;

$theme-colors: (
  "primary": black,
);
@import "~bootstrap/scss/bootstrap";

.btn,
.btn:hover {
  border: $border-width solid black;
  background-color: #c72928;
  color: white;
  font-weight: bold;
  box-shadow: 2px 1px lighten(#000, 20%);
  padding: 0.375rem 0.65rem;
}
